<!DOCTYPE html>
<html>
<head>
	<title>Wizcorp presentations</title>
	<style type="text/css">
		body {
			font-size: 14px;
			font-family: sans-serif;
			margin: 0;
		}

		h1 {
			font-size: 20px;
			font-weight: bold;
			text-align: center;
			color: #fff;
			background: #336b87;
			padding: 20px;
			margin: 0;
		}

		h2 {
			font-size: 14px;
			font-weight: bold;
			background: #90afc5;
			padding: 10px;
			color: #fff;
			border-radius: 13px;
		}

		a {
			color: #763626;
		}

		#presentations {
			width: 500px;
			margin: 0 auto;
		}
	</style>
</head>
<body>

<h1>Wizcorp presentations</h1>

<div id="presentations">

{{#each presentations}}

	<h2>{{name}} ({{event.date.[0]}}/{{event.date.[1]}}/{{event.date.[2]}})</h2>

{{#if speaker.name}}
	<div>Speaker: {{speaker.name}}</div>
{{/if}}
{{#if event.url}}
	<div>Event: <a href="{{event.url}}">{{event.name}}</a></div>
{{else}}
	<div>Event: {{event.name}}</div>
{{/if}}
	<div>
		<br>
		<a href="{{url}}">Open presentation</a>
	</div>

{{/each}}

</div>

</body>
</html>
